.title {
    padding: 120px 200px 30px 300px;
    background-color: white;
    position: relative;
    text-align: center;
/*    color: white;*/
}


.title1 {
    padding: 0px 40px 120px 40px;
    background-color: white;
    position: relative;
    text-align: center;
/*    color: white;*/
}



.intro {
    padding: 50px 80px 30px 80px;
    background-color: #6699FF;
    position: relative;
    font-weight: normal;
    font-size:20px;
    
 
}


/* Felix: introduction formating*/
.intro2 {
    padding: 10px 80px 50px 440px;
    background-color: #6699FF;
    font-weight: lighter;
    font-size:20px;

}

.img1 {
  width: 200px;
  float: left;
  margin-left: 130px;
  position:relative;
}

.intro3 {
    padding: 30px 800px 80px 80px;
    background-color: white;
    font-weight: lighter;
    font-size:15px;
    color: black;

}



.img2 {
  width: 750px;
  float: right;
  position:relative;
}

.intro4 {

    padding: 30px 40px 50px 40px;
    background-color: #8bc34a;
    position: relative;

    font-size:20px;
}

.direction {
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 7px;
}

.wrapper {
display: flex;
}

.conclusion {
    padding: 20px 40px 20px 40px;
     background-color: #ee5a7e;
    position: relative;
     text-align: center;
/*    color: white;*/
}

.team {
    padding: 200px 40px 200px 40px;
    background-color: white;
    position: relative;
    text-align: center;
}

.section {
    /*margin: auto;*/
    display: inline-block;
    padding: 0 40px;
}

.graphs {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.chord_info {
    padding: 0 40px;
}

.short-descript {
    margin: 0 16px;
}

.legend {
    display: flex;
    flex-direction: column;  
    margin: 0 10px;
    padding: 10px;
}

.legend_box {
    width: 15px;
    height: 15px;
    margin: 3px;
    border: 1px solid black;
}

.legend-order {
    display: flex;
    flex-direction: row;  
}

.international {
    background: #606060;
}

.west {
    background: #0080FF;
}

.midwest {
    background: #00CC66;
}
.northeast {
    background: #8A2BE2;
}
.southeast {
    background: #FF6666;
}
.southwest {
    background: #FF9933;
}

.barcharts_stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.left-bar {
    display: flex;
    flex-direction: column;  
}

.dashboard {
    display: flex;
    flex-direction: row;  
}

.descript {
    margin: 4px 20px 20px 20px ;
    border-radius: 10px;
    border: 1px dotted gray;
    font-size: 20px;
    text-align: center;
}
