
.title {
    padding: 120px 200px 30px 200px;
    background-color: white;
    position: relative;
    text-align: center;
/*    color: white;*/
}


.title1 {
    padding: 0px 40px 80px 40px;
    background-color: white;
    position: relative;
    text-align: center;
    font-size:1.3vw;
/*    color: white;*/
}



.intro {
    padding: 50px 80px 20px 80px;
    background-color: #B5D3E7;
    position: relative;
    font-weight: normal;
    font-size:1.3vw;
 
}


/* Felix: introduction formating*/
.intro2 {
    padding: 10px 80px 50px 340px;
    background-color: #B5D3E7;
    font-weight: lighter;
    font-size:1.3vw;
     

}

.img-title {
     width: 80%
}

.img1 {
  width: 120px;
  float: left;
  margin-left: 130px;


}

.intro3 {
    padding: 50px 80px;
     background-color: white;
    position: relative;
     text-align: center;
    font-size:1.3vw;
}


.img2 {
    /*object-fit: contain;*/
     /*text-align: center;*/
     /*width: 80%*/
}

.intro4 {

    padding: 50px 80px;
    background-color: #9cec9c;
    position: relative;
    font-size:1.3vw;
}

.direction {
    margin: 20px 0 10px 10px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 7px;
}

.wrapper {
display: flex;
}

.conclusion {
    padding: 50px 80px;
     background-color: #FCD440;
    position: relative;
     text-align: center;
    font-size:1.3vw;
/*    color: white;*/
}


.team {
    padding: 200px 40px 200px 40px;
    background-color: white;
    position: relative;
    text-align: center;
}

.section {
    /*margin: auto;*/
    display: inline-block;
    padding: 0 40px;
}

.graphs {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.chord_info {
    padding: 0 40px;
}

.short-descript {
    margin: 0 0 0 16px;
}

.legend {
    display: flex;
    flex-direction: column;  
    margin: 0 10px;
    padding: 10px;
}

.legend_box {
    width: 15px;
    height: 15px;
    margin: 3px;
    border: 1px solid black;
}

.legend-order {
    display: flex;
    flex-direction: row;  
}

.international {
    background: #606060;
}

.west {
    background: #0080FF;
}

.midwest {
    background: #00CC66;
}
.northeast {
    background: #8A2BE2;
}
.southeast {
    background: #FF6666;
}
.southwest {
    background: #FF9933;
}

.barcharts_stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.left-bar {
    display: flex;
    flex-direction: column;  
}

.dashboard {
    display: flex;
    flex-direction: row;  
}

.descript {
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted gray;
    font-size: 17px;
    text-align: center;
    white-space: normal;
    width:300px;
}
